.login-container {
  margin: 80px auto 0;
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container .content {
  margin-top:50px;
  width: 100%;
  border-radius: 8px;
  padding: 30px;
  background-color: white;
}

.login-container .content > p{
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
}

.login-container .content div p{
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 30px;
}

.login-container .content form{
  display: flex;
  flex-direction: column;
}

.login-container .content form label{
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin-bottom: 8px;
}

.login-container .content form input{
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
}

.login-container .content button.btn{
  background: #1DB954;
  border: 0;
  border-radius: 8px;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.login-container .content button.btn:hover{
  background: #1DB980;
}
